.navpro{
    width: 100vw;
    /* height: 10%; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;  
    border-bottom: 4px solid gray;
}
.titulo-productos{
    width: 20%;
    font-size: 4vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: start;
}

.noti-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacio{
    height: 100%;
    width: 65vw;
}
.boton-notificacion{

    content: icon;
    background-size: cover;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    user-select: none; 
    display: flex;
    justify-content: center;
}
.boton-notificacion:hover {
    background-color: rgb(211, 217, 246);
}

.labels-usuario{
    display: flex;
    flex-direction: column;
}

.nombre-usuario{
    font-size: 120%;
    font-weight: bold;
}