.titulo{
    height: 100%;
    /* width: 49%; */
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    font-family: serif;
    font-weight: bold;
    background-color: #747474;
    color: black;
    
    margin: 1px solid #888;
    box-shadow: -1pz 4px 1px 1px white;
}
