body {
    height: 100vh;
    margin: 0;
}

.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: 4em 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 4em 2fr 2fr 2fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Sección Sidebar */

.sidebar {
    grid-area: 1 / 1 / 6 / 2;
    background-color: rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
}

.cubo {
    display: flex;
    height: 5em;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.cubo:focus {
    background-color: rgb(228, 228, 228);
}

/* Sección Navbar */

.navbar-content {
    grid-area: 1 / 2 / 2 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .3em solid rgb(163, 162, 162);
}

.titulo-navbar {
    font-weight: 700;
    font-size: 2em;
}

.notificaciones {
    display: flex;
    align-items: center;
    gap: 1em;
}

.campana-notificaciones {
    width: 2.3em;
    height: 2.3em;
    padding: .3em;
    border: .2em solid black;
    border-radius: .4em;
}

.nombre-usuario {
    display: block;
    font-size: 1em;
    font-weight: 700;
}

.nombre-cargo {
    display: block;
    font-size: smaller;
    margin: 0%;
}

/* Seccion de los Productos */

.productos {
    grid-area: 2 / 2 / 6 / 5;

    overflow-y: scroll;
}

 /* Scroll para productos personalizado */

.productos::-webkit-scrollbar {
    width: .4em;
    /* width of the entire scrollbar */
}

.productos::-webkit-scrollbar-track {
    background: rgb(187, 187, 187);
    /* color of the tracking area */
}

.productos::-webkit-scrollbar-thumb {
    background-color: black;
    /* color of the scroll thumb */
    border-radius: .5em;
    /* roundness of the scroll thumb */
    
    /* creates padding around scroll thumb */
}

/* Seccion Movimientos */

.movimientos {
    background-color: rgb(228, 228, 228);
    grid-area: 2 / 5 / 6 / 6;
}