.contenedor-main{
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 4%;
    overflow: visible;
}

.productos{
    background-color: white;
    font-family: lato, sans-serif;
    display: grid;
    grid-template-rows: 0.8fr 9fr;
}

.filas{
    display: grid;
    grid-template-columns: 3fr 1fr;
}