.contenedor-navbar {
    position: fixed;
    background-color: rgb(189, 189, 189);
    height: 100vh;
    width: 4%;
    min-width: 4rem;
}

.cubo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
    cursor: pointer;
}

.cubo:focus {
    background-color: rgba(161, 41, 41, 0.407);
}

.cubo-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
    font-size: 1.6vh;
    font-weight: 700;
}