.recuadro-busqueda{
    width: 40vh;
    height: 30vh;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    border: solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: .9em;
    font-size: .9em;
    
}

.buscar-trabajador{
    width: 35vh;
    height: 5vh;
    border-radius: 10px;
    border: solid;
    padding-left: .5em;
}

.input-wrapper {
	position: relative;
	
}

.input-icon{
    color: #191919;
	position: absolute;
	width: 4vh;
	height: 2.5vh;
	left: 30vh;
	top: 5.2vh;
	transform: translateY(-50%);
    cursor: pointer;
}