.recuadro-busqueda{
    width: 20em;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    border: solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: .9em;
    font-size: .9em;
    
}

.buscar-trabajador{
    width: 18em;
    height: 5vh;
    border-radius: 10px;
    border: solid;
    padding-left: .5em;
}

.input-wrapper {
	position: relative;
	
}

.input-icon{
    color: #191919;
	position: absolute;
	width: 1.1em;
	height: 20px;
	left: 16em;
	top: 2.8em;
	transform: translateY(-50%);
    cursor: pointer;
}