
.titulo-seleccione-productos{
    font-size: 0.8em;
    font-weight: 600;
    
}
.buscar-agregar-productos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-agregar-producto {
    background-color: black;
    color: white;
    border-radius: .4em;
    padding: .5em;
    font-size: .8em;
    text-decoration-line: none;
}

.btn-agregar-producto:hover {
    text-decoration: none;
    color: white;
}

.contenido-productos{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

