.producto-solicitado {
    width: 100%;
    height: 5vh;
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}

.label-producto-solicitado {
    font-size: 0.8vw;
    font-weight: 600;
}

.entrada-cantidad {
    width: 4em;
    overflow-y:visible;
    display: block;
    font-size: .7em;
   
}

.label-unidad {
    padding-right: 25px;
    font-size: .8em;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-asignar {
    align-items: center;
    display: block;
    width: 28em;
    font-size: .7em;
    padding: 1em;
    border-color: transparent;
    border: 0;
    border-radius: .4em;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-asignar:hover {
    color: white;
    font-weight: 600;
}