.tarjeta{
    display: block;
    height: 17vh;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
}

.check-nombre{
  display: flex;
  align-items: center;
}

.nombre-id{
}

.id{
    font-size: 1vw;
}
.nombre{
    font-size: 1.2vw;
    font-weight: bold;
}

.cantidad-unidad{
    height: 100%;
    display: flex;
    align-items: center;
   
}

.cantidad{
    font-size: 1.5vw;
    font-weight: bold;
}

.unidad{
    font-size: 1vw;
}

.existencias{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-existencias{
    height: 30%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-radius: 5px;

}

.label-existencias{
    font-size: .9vw;
}